In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import warnings
warnings.filterwarnings('ignore')

In [4]:
from sklearn.datasets import load_iris
iris = load_iris()

In [5]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [6]:
data = iris.data
label = iris.target
columns = iris.feature_names

In [7]:
data = pd.DataFrame(data, columns=columns)
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [8]:
data.shape

(150, 4)

In [9]:
# Classification
# 1.Logistic Regression

# 데이터 준비
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data,
    label,
    test_size = 0.2,
    random_state = 2022
)

# Logistic Regression 정의
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [10]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score

In [15]:
print('로지스틱 회귀, 정확도 : {:.2f}%'.format(accuracy_score(y_test, y_pred)*100))

로지스틱 회귀, 정확도 : 96.67%

In [30]:
# SVM(Supprot Vector Machine)
from sklearn.svm import SVC
svc = SVC(C=5)

In [31]:
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)

print('서포트 벡터 머신, 정확도 : {:.2f}%'.format(accuracy_score(y_test,y_pred)*100))

서포트 벡터 머신, 정확도 : 96.67%

C = 3, 4, 10일떄 100%나옴

In [36]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth = 5)

dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
print('결정 트리, 정확도 :{:.2f}%'.format(accuracy_score(y_test, y_pred)*100))

결정 트리, 정확도 :96.67%

어떤 알고리즘을 선택할지는 데이터를 살펴보고 파악한뒤 여러 알고리즘을 적용해서 

목적에 따른 결과를 얻을수 있다.

In [47]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth = 5)

rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print('랜덤 포레스트, 정확도 :{:.2f}%'.format(accuracy_score(y_test, y_pred)*100))

랜덤 포레스트, 정확도 :96.67%