In [1]:
import pandas as pd

In [4]:
# 두개의 DF를 하나의 DF로 합치기
df1 = pd.DataFrame({
    '날짜' : [1101,1102,1103,1104,1105],
    '온도' : [20,18,17,14,5]
    
}, columns=['날짜','온도'])

In [5]:
df1

     날짜  온도
0  1101  20
1  1102  18
2  1103  17
3  1104  14
4  1105   5

In [6]:
df2 = pd.DataFrame(data={
    '날짜' : [1101,1102,1103,1104,1109, 1120],
    '습도' : [10 ,20, 40, 100, 6, 50]
}, columns=['날짜', '습도'])

In [7]:
df2

     날짜   습도
0  1101   10
1  1102   20
2  1103   40
3  1104  100
4  1109    6
5  1120   50

In [8]:
pd.merge(df1,df2)

     날짜  온도   습도
0  1101  20   10
1  1102  18   20
2  1103  17   40
3  1104  14  100

merge()의 경우 중복되는 열에 대해 합쳐진다
default 값이 how = 'inner'

In [9]:
pd.merge(df1,df2,how='outer')

     날짜    온도     습도
0  1101  20.0   10.0
1  1102  18.0   20.0
2  1103  17.0   40.0
3  1104  14.0  100.0
4  1105   5.0    NaN
5  1109   NaN    6.0
6  1120   NaN   50.0

In [10]:
# 온도를 기준으로 합치고 싶을때

pd.merge(df1,df2,how='left')

     날짜  온도     습도
0  1101  20   10.0
1  1102  18   20.0
2  1103  17   40.0
3  1104  14  100.0
4  1105   5    NaN

In [11]:
# 습도를 기준으로 합치고 싶을때

pd.merge(df1,df2,how='right')

     날짜    온도   습도
0  1101  20.0   10
1  1102  18.0   20
2  1103  17.0   40
3  1104  14.0  100
4  1109   NaN    6
5  1120   NaN   50

In [12]:
# 날짜를 기준으로
pd.merge(df1,df2,how='right', on='날짜')

     날짜    온도   습도
0  1101  20.0   10
1  1102  18.0   20
2  1103  17.0   40
3  1104  14.0  100
4  1109   NaN    6
5  1120   NaN   50

In [18]:
df3 = pd.DataFrame({
    'date' : [1101,1102,1103,1104,1105],
    '온도' : [20,18,17,14,5]
    
}, columns=['date','온도'])

In [19]:
df4 = pd.DataFrame(data={
    '날짜' : [1101,1102,1103,1104,1109, 1120],
    '습도' : [10 ,20, 40, 100, 6, 50]
}, columns=['날짜', '습도'])

In [20]:
pd.merge(df3,df4, left_on='date', right_on='날짜')

   date  온도    날짜   습도
0  1101  20  1101   10
1  1102  18  1102   20
2  1103  17  1103   40
3  1104  14  1104  100