In [1]:
import pandas as pd

In [ ]:
# 시리즈(데이터묶음)

In [ ]:
s.index.name = '지역구'

In [ ]:
s

In [ ]:
s1 = s/1000

In [ ]:
s1.name ='농작물 생산량(k톤)'

In [ ]:
s1

In [ ]:
(s/4456952*100).round(2)

In [ ]:
s

In [ ]:
s[0], s['서울']

In [ ]:
s[[0,1]]

In [ ]:
s[[1,0]]

In [ ]:
s[['부산','서울']]

In [ ]:
# 데이터를 분석하는데 있어서 필요한 데이터를 조건으로 가져올수도있다
s[(s>10000) & (s<20000)]

In [ ]:
s[(s/4456952*100)>0.5]

In [ ]:
# 슬라이싱 이용
# 인덱스 이용
s[1:3]

In [ ]:
# 키값 이용
s['서울':'대구']

In [ ]:
s

In [ ]:
s.서울

In [ ]:
d1 = {'서울':1, '부산':2}
pd.Series(d1)

In [ ]:
for k,v in s.items():
  print(k,v)

In [ ]:
print('서울' in s.keys())
'서울' in s

In [ ]:
s20 = pd.Series([628,11075,56913,15695], index=['서울','부산','인천','대구'])

In [ ]:
s21 - s20

In [1]:
s20 = pd.Series([628,11075,56913,15695], index=['제주도','부산','인천','대구'])

In [ ]:
s_sub = s21 - s20

In [ ]:
import numpy as np
type(np.nan)

In [ ]:
!python --version

In [ ]:
d1 = {'서울':1,'부산':2,'제주도':123123}

In [ ]:
s_sub # nan이 존재하면 데이터 타입을 바꿀수없다.

In [ ]:
s_sub.astype(int)

In [ ]:
s21.sub(s20, fill_value=0)

In [ ]:
s_sub = s21.sub(s20, fill_value=0)

In [ ]:
s_sub.astype(int)

In [ ]:
s20

In [ ]:
s21

In [ ]:
s_sub2 =s21.sub(s20)

In [ ]:
s_sub2
# 보간법을 이용해서 중간 nan값을 저장하는방법이있으며 결측치들을 채워서 데이터를 다루는데 문제가 없게 만드는 과정을 전처리라고 한다.

In [ ]:
s_sub2.notnull()

In [ ]:
s_sub2.fillna(0)

In [ ]:
s20 = pd.Series([628,11075,56913,15695], index=['서울','부산','인천','대구'])

In [ ]:
s21

In [ ]:
s20

In [ ]:
# 증감 확인
rs = ((s21 - s20) / s20 *100).round(2)

In [ ]:
rs

In [ ]:
# 수정
rs['서울'] = 0

In [ ]:
rs[0] = 123

In [ ]:
rs

In [ ]:
del rs['대구']

In [ ]:
del rs['서울']

In [ ]:
rs

In [ ]:
rs['서울'] = 77.71

In [ ]:
rs

In [ ]:
rs['대구'] = 6.40

In [ ]:
rs

In [3]:
import random

In [5]:
random.randint(0,100)

93

In [7]:
key100 = random.sample(list(range(1000)), 100)
# pd.Series() 크기가 100
# 키값 100 밸류값 100
key80 = random.sample(list(range(1000)), 80)
value100 = random.sample(list(range(1000)), 100)
value80 = random.sample(list(range(1000)), 80)
# sample은 중복 없음

s100 = pd.Series(value100, index=key100)
s80 = pd.Series(value80, index=key80)

In [ ]:
s_100_80_mul = s100.sub(80)

In [8]:
s100 - s80

0     NaN
8     NaN
10    NaN
18    NaN
22    NaN
       ..
971   NaN
973   NaN
980   NaN
991   NaN
997   NaN
Length: 174, dtype: float64

In [10]:
s_100_80_sub = s100- s80

In [11]:
for k,v in s_100_80_sub.notnull().items():
  if v:
    print(k,v)

437 True
628 True
832 True
879 True
944 True
948 True

In [12]:
s_100_80_sub[437]

-7.0

In [ ]:
s100[]